.DS_Store
CMakeFiles/
Testing/
cosmosis_test_output/
cosmosis_run_dump.txt
covariance_test_output/
matteos_power_spectrum/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.pyc
*.swp
ez_sq_test
ez_test
*~
*.so
OUTPUT/
*.out
*.pdf
*.ps
gmon.out
dump.txt
cross_output.txt
*.out
*.so
validation_tests/.RData
*.dylib
masses_test_output/
sdss_analysis_output/
y1_analysis_output/
wiki
test/multi_dimensional_integrator_test
.ninja_deps
.ninja_log
build.ninja
rules.ninja
*_output/
.Rproj.user
.vscode
.Rhistory
*.gz
debug-build/
release-build/
*.tsv
*.csv
*_test_out/

y1_rerun/*.txt
y1_rerun/*.tgz
y3_buzzard/datablock*
y3_buzzard/*.txt
validations/ipython_to_be_imported/HMF_Comparison.ipynb
validations/ipython_to_be_imported/mf_z0_z03.dat
validations/ipython_to_be_imported/Observed_Richness_Integral_Comparison.ipynb
validations/ipython_to_be_imported/Power_Spectrum_Comparison.ipynb
validations/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_1_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_2_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_3_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_4_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_5_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/l_in_talbe_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/z_in_talbe_v27_0.dat
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/first_bin_grid.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/first_bin_lambda_24_5.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/first_bin_lambda_24.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/first_bin_lambda_100_5.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/first_bin_zt_0_3.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/first_bin_zt_0_305.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/last_bin_lambda_100_5.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/last_bin_lambda_100.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/last_bin_zt_0_3.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/last_bin_zt_0_305.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/second_bin_zt_0_1.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/second_bin_zt_0_2.csv
validations/ipython_to_be_imported/int_P_lob_ltr/our_data/second_bin_zt_0_3.csv
validations/ipython_to_be_imported/ps_comparison/mf_z0.0.dat
validations/ipython_to_be_imported/ps_comparison/mf_z0.15.dat
validations/ipython_to_be_imported/ps_comparison/mf_z0.30.dat
validations/ipython_to_be_imported/ps_comparison/sigma_m_z.dat
validations/val_y1_rerun/ipython_to_be_imported/HMF_Comparison.ipynb
validations/val_y1_rerun/ipython_to_be_imported/mf_z0_z03.dat
validations/val_y1_rerun/ipython_to_be_imported/Observed_Richness_Integral_Comparison.ipynb
validations/val_y1_rerun/ipython_to_be_imported/Power_Spectrum_Comparison.ipynb
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_1_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_2_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_3_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_4_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/int_P_lob_ltr_ztr_Deltal_5_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/l_in_talbe_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/int_P_lob_ltr/z_in_talbe_v27_0.dat
validations/val_y1_rerun/ipython_to_be_imported/ps_comparison/mf_z0.0.dat
validations/val_y1_rerun/ipython_to_be_imported/ps_comparison/mf_z0.15.dat
validations/val_y1_rerun/ipython_to_be_imported/ps_comparison/mf_z0.30.dat
validations/val_y1_rerun/ipython_to_be_imported/ps_comparison/sigma_m_z.dat
y1_mock/datablock_0.tgz
y1_mock/simple_chain.txt
