.DS_Store
CMakeFiles/
Testing/
cosmosis_test_output/
cosmosis_run_dump.txt
covariance_test_output/
matteos_power_spectrum/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.pyc
*.swp
ez_sq_test
ez_test
*~
*.so
OUTPUT/
*.out
*.pdf
*.ps
gmon.out
dump.txt
cross_output.txt
*.out
*.so
validation_tests/.RData
*.dylib
masses_test_output/
sdss_analysis_output/
y1_analysis_output/
wiki
