.DS_Store
CMakeFiles/
Testing/
cosmosis_test_output/
cosmosis_run_dump.txt
covariance_test_output/
matteos_power_spectrum/
CMakeCache.txt
CTestTestfile.cmake
Makefile
cmake_install.cmake
*.pyc
*.swp
ez_sq_test
ez_test
*~
*.so
OUTPUT/
*.out
*.pdf
*.ps
gmon.out
dump.txt
cross_output.txt
*.out
*.so
validation_tests/.RData
*.dylib
masses_test_output/
sdss_analysis_output/
y1_analysis_output/
wiki
test/multi_dimensional_integrator_test
.ninja_deps
.ninja_log
build.ninja
rules.ninja
*_output/
.Rproj.user
.vscode
.Rhistory
*.gz
debug-build/
release-build/
*.tsv
*.csv
*_test_out/
y1_rerun/*.txt
y1_rerun/*.tgz
y3_buzzard/datablock*
y3_buzzard/*.txt