.ipynb_checkpoints/
figure/
physics_validation.html
physics_validation.md
.Rhistory
physics_validation.knit.md
physics_validation.utf8.md
physics_validation_files/
physics_validation_cache/
.Rproj.user/
.qmd
